---
import Section from "../section.astro";
import DisplayHeader from "@components/headers/displayHeader.astro";
import Image from "astro/components/Image.astro";
import ThreeRings from "@components/decorators/threeRings.astro";
import StandOutCard from "@/components/cards/standOutCard.astro";
import { cmsURL } from "@/constants";
const { data } = Astro.props;
const image = data.heroPortrait.sizes.portrait;
const imageAlt = data.heroPortrait.alt;
---

<Section
  class={["pt-8 pb-15 md:pb-20 bg-gray overflow-x-hidden relative"]}
  id="hero"
>
  <div class="flex flex-col relative">
    <DisplayHeader class={"pb-10"}>{data.mainHeader}</DisplayHeader>
    <div
      class:list={"w-full relative md:grid md:grid-cols-[37%_1fr] md:gap-10"}
    >
      <Image
        loading={"eager"}
        src={cmsURL + image.url}
        width={image.width}
        height={image.height}
        alt={imageAlt || ""}
        class:list={"z-10 w-full relative md:h-[100%] md:max-w-xl pb-5 aspect-[4/5] object-cover "}
      />
      <StandOutCard
        class="z-10 md:flex md:flex-col md:justify-between md:w-full md:h-fit md:min-h-[20rem] md:translate-y-10"
      >
        <p class="text-md text-white pb-12 text-pretty">
          {data.standoutCard.content}
        </p>
        <p class="text-base text-yellow">
          {data.standoutCard.tagline}
        </p>
      </StandOutCard>
      <ThreeRings
        class="w-[80%] absolute left-[50%] -translate-x-[50%] z-0 top-[min(55vw,24rem)] md:w-[22vw] md:min-w-[15rem] md:top-[-17%] md:right-[-9%] lg:top-[-18%] 2xl:top-[-24%] 2xl:right-[-10%] md:left-auto md:translate-x-0 transition-[top,_left] duration-300"
        enableAnimation={true}
        fromCorner={true}
      />
    </div>
  </div>
</Section>
