---
import Navbar from "../components/navbar/navbar.astro";
import "@fontsource-variable/nunito";
import "@fontsource-variable/noto-serif";
import Hero from "../components/sections/hero.astro";
import CardSection from "../components/sections/cardSection.astro";
import AboutMe from "../components/sections/aboutMe.astro";
import type { CardContentType } from "../types/cardContentType";
import type { ContactLinkType } from "../types/contactLinkType";
import DisplayHeader from "../components/headers/displayHeader.astro";
import Section from "../components/section.astro";
import ContactLink from "../components/contactLink.astro";
import Footer from "../components/footer.astro";
import HomepageContent from "../content/homepage.json";

const cardSections = HomepageContent.cardSections;

const contactLinks: ContactLinkType[] = HomepageContent.contact.contactLinks;
---

<html lang="en" class="scroll-smooth scroll-p-15 md:scroll-m-0">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/logo-small.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="An aspiring product designer with a background in engineering. Currently pursuing a Master’s in HCI in the Netherlands and Finland."
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={HomepageContent.title} />
    <meta
      property="og:description"
      content="An aspiring product designer with a background in engineering. Currently pursuing a Master’s in HCI in the Netherlands and Finland."
    />
    <meta property="og:url" content="https://thong.cam" />
    <meta property="og:site_name" content="Thong Cam" />
    <meta
      property="og:image"
      content="https://thongcam.netlify.app/.netlify/images?url=_astro%2Fhero-image.B3HjGEpb.png"
    />
    <meta
      property="og:image:secure_url"
      content="https://thongcam.netlify.app/.netlify/images?url=_astro%2Fhero-image.B3HjGEpb.png"
    />
    <title>{HomepageContent.title}</title>
  </head>
  <body class="text-dark-blue font-body bg-gray">
    <Navbar />
    <Hero />
    {
      cardSections.map((cardSection) => {
        const content: CardContentType[] = cardSection.content;
        return (
          <CardSection
            bg={cardSection.bg}
            class=""
            imageAlign={cardSection.imageAlign}
            decorator={cardSection.decorator}
            subheading={cardSection.subheading}
            content={content}
            id={cardSection.id}
          >
            <span slot="numbering">{cardSection.numbering}</span>
            <span slot="content">{cardSection.title}</span>
          </CardSection>
        );
      })
    }
    <AboutMe />
    <Section class={["bg-white pt-10 md:pt-15 pb-20"]} id="contact">
      <div>
        <DisplayHeader class="">{HomepageContent.contact.header}</DisplayHeader>
        <ul class="pt-15 flex flex-row flex-wrap gap-y-10 gap-x-30">
          {
            contactLinks.map((link) => (
              <ContactLink href={link.url}>{link.label}</ContactLink>
            ))
          }
        </ul>
      </div>
    </Section>
    <Footer />
  </body>
</html>
