---
import "@fontsource-variable/nunito";
import Nunito from "@fontsource-variable/nunito/files/nunito-latin-wght-normal.woff2";
import "@fontsource-variable/noto-serif";
import NotoSerif from "@fontsource-variable/noto-serif/files/noto-serif-latin-wght-normal.woff2";
import Footer from "@/components/footer/footer.astro";
import Navbar from "@/components/navbar/navbar.astro";
import { cmsURL } from "@/constants";
import getGlobals from "@/utils/getGlobals";
import "../styles/global.css";
import type { ColorInstance, ColorObject } from "color";

interface Props {
    pageMetaDescription?: string;
    pageTitle?: string;
    pageOgMeta?: {
        title: string;
        description: string;
        url: URL;
        imageUrl: string;
        imageUrlSecure: string;
    }
    themeColor?: string;
}

const { logos, settings } = await getGlobals();
const { pageMetaDescription, pageTitle, pageOgMeta, themeColor } = Astro.props as Props;
---

<html lang="en" class="scroll-smooth scroll-p-15 md:scroll-m-0">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={cmsURL + logos.logoSmall.url} />
    <link rel="preload" as="font" type="font/woff2" href={Nunito} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={NotoSerif} crossorigin="anonymous" />
    <link rel="preconnect" href="https://admin.thong.cam" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    {
      pageMetaDescription && (
        <meta name="description" content={pageMetaDescription} />
      )
    }
    {
        pageOgMeta && (
            <meta property="og:locale" content={settings.ogMetadata.locale} />
            <meta property="og:type" content={settings.ogMetadata.type} />
            <meta property="og:title" content={pageOgMeta.title} />
            <meta property="og:description" content={pageOgMeta.description} />
            <meta property="og:url" content={pageOgMeta.url} />
            <meta property="og:site_name" content="Thong Cam" />
            <meta property="og:image" content={pageOgMeta.imageUrl} />
            <meta property="og:image:secure_url" content={pageOgMeta.imageUrlSecure} />
            <meta property="og:logo" content={cmsURL + logos.logoSmall.url} />
        )
    }
    <title>{`${pageTitle ? pageTitle + " | " : ""}${settings.siteTitle}`}</title>
    <script defer src="https://umami.thong.cam/script.js" data-website-id="b924d487-517b-4512-a0e0-4ba9d69b1c36"></script>
  </head>
  <body class="text-dark-blue font-body">
    <Navbar logos={logos} themeColor={themeColor}/>
    <slot />
    <Footer />
  </body>
</html>
